.cart{
    position: sticky;
    top: 0;
    padding: 30px 20px;
    /* z-index: 1000; */
}
.select-btn{
    display: flex;
    flex-direction: column;
}
.select-btn button{
    margin-top: 15px;
    width: 50%;
    padding: 5px 10px;
}
.cart .select-items {
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.cart .select-items img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}