h1{
  text-align: center;
}
.shop-container{
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.products-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  margin: 100px 50px;
}
.cart-container{
  background-color: #a0b9e7;
}
@media screen and (max-width:680px) {
  .products-container{
      grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width:1100px) {
  .products-container{
      grid-template-columns: repeat(2, 1fr);
  }
}

.lucky-cart .select-items {
  display: flex;
  align-items: center;
  /* justify-content:space-between; */
}
.lucky-cart .select-items img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}